*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
C:\Users\Lee\AndroidStudioProjects\Youtube_Block_Application2\app\src\main\java\com\seyeong\youtube_block_application2/CheckPackageName.java
C:\Users\Lee\AndroidStudioProjects\Youtube_Block_Application2\app\src\main\java\com\seyeong\youtube_block_application2/PlannerService.java